body{
	margin: 0px;
	position: relative;
	font-family: "微软雅黑";
}
	.head{
		width: 1120px;
		height: 90px;
		padding-top: 10px;
		margin:0 auto;
		
	}
	.head_logo{
		width: 260px;
		height: 100px;
		float: left;
		font-family: "edwardian script itc";
}
.head_logo_top{
	height: 64px;
	line-height: 64px;
	font-size: 20pt;
	font-family: arial;
}
.head_logo_top img{
	width: 64px;
	height: 64px;
	margin-right: 14px;
	float: left;
}
#logo2{
	width: 180px;
	margin-top: 7px;
}
.head ul{
	float: left;
	padding-left: 0px;
	margin-top: 36px;
	list-style-type: none;

}
.head ul li{
	float: left;
}

.head ul li a:link,a:visited{
	display: block;
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	padding-right: 30px;
	border-right:solid 8px  #fff;
	font-family: "微软雅黑";
	font-size: 16pt;
	text-decoration: none;
	color: #000;
	transition: 0.5 ease;
	-moz-transition:0.5 ease;

}
#head_nav_index{
	color: #28b48d;
	border-right:solid 8px  #28b48d;
}

.head ul li a:hover{
	color: #28b48d;
	border-right:solid 8px  #28b48d;
}


.head_weixin{
	position: relative;
}
.head_weixin img{
	width: 40px;
	height: 40px;
	margin-top: 30px;
	margin-right: 10px;
	float: right;
}
#show{
	width: 134px;
	height: 174px;
	display: none;
}
#show img{
	
	width: 134px;
	height: 174px;
	position: absolute;
	top: 50px;
	right: -50px;
	z-index: 99;
}


.foot{
	width: 100%;
	height: 70px;
	min-width:1120px;
	background: #000;
	position: absolute;
	bottom: 0;
}
.foot p{
	width: 500px;
	height: 70px;
	margin: 0px auto;
	line-height: 66px;
	color: #FFF;
	font: "宋体";
	font-size: 8pt;
	text-align: center;	
}


#index_concent_table{
	width: 1120px;
	margin: 0 auto;
	margin-top: 50px;
	
}

#table_title{
	margin: 0 auto;
	width: 350px;
	height: 100px;			
	display: block;
	position: relative;
	margin-bottom: 20px;
}
#table_title span{
	display: block;
	font-family: "微软雅黑";
	font-size: 17pt;
	text-align: center;
}
#table_title p{
	display: block;
	position: absolute;
	left: 140px;
	top: 45px;
	width: 50px;
	height: 3px;
	margin-top: 10px;
	background: black;
}

#show_title{
	margin: 0 auto;
	width: 550px;
	height: 100px;			
	display: block;
	position: relative;
}
#show_title span{
	display: block;
	font-family: "微软雅黑";
	font-size: 17pt;
	text-align: center;
}
#show_title p{
	display: block;
	position: absolute;
	left: 250px;
	top: 45px;
	width: 50px;
	height: 3px;
	margin-top: 10px;
	background: black;
}
#index_concent_show{
	width: 1120px;
	height: 450px;
	margin: 0 auto;
	margin-top:550px;
}
#index_concent_team{
	width: 1120px;
	height: 550px;
	margin: 0 auto;
	margin-top: 50px;
}
#team_title{
	margin: 0 auto;
	width: 550px;
	height: 100px;			
	display: block;
	position: relative;
}
#team_title span{
	display: block;
	font-family: "微软雅黑";
	font-size: 17pt;
	text-align: center;
}
#team_title p{
	display: block;
	position: absolute;
	left: 250px;
	top: 45px;
	width: 50px;
	height: 3px;
	margin-top: 10px;
	background: black;
}